@model ARA.Domain.Entities.Course

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save"  />
    @Html.ActionLink("Back to List", "List")
}